.loader{
    width: 4rem;
    height: 4rem;
    border-width: .7rem;
    border-color: transparent;
    border-color: var(--gray-color);
    border-top-color: var(--primary-color);
    border-radius: 100%;
    border-style: solid;
    margin-top: 10rem;
    animation: animate .7s linear infinite;
    /* background-color: green; */
}
@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media screen and (max-width:768px) {
    .loader{
        /* margin-bottom: 26rem; */
        width: 8rem;
        height: 8rem;
        
        
    }
    
}